[flake8]
max-line-length = 90
extend-ignore = E203, E221, E231, E302, E303, E305, W291, W391, W503, F401, F403, F405, F811, F841
exclude =
    .git,
    __pycache__,
    .venv,
    venv,
    build,
    dist,
    vendor
